In [1]:
import numpy as np;
import pandas as pd;

In [2]:
df = pd.read_csv("E:\\Courses\\DataScience\\csv\\real_estate_data.csv");
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [3]:
df.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         5
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 511 entries, 0 to 510
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     511 non-null    float64
 1   ZN       511 non-null    float64
 2   INDUS    511 non-null    float64
 3   CHAS     511 non-null    int64
 4   NOX      511 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      511 non-null    float64
 7   DIS      511 non-null    float64
 8   RAD      511 non-null    int64
 9   TAX      511 non-null    int64
 10  PTRATIO  511 non-null    float64
 11  B        511 non-null    float64
 12  LSTAT    511 non-null    float64
 13  MEDV     511 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 56.0 KB

In [5]:
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,511.000000,511.000000,511.000000,511.000000,511.000000,506.000000,511.000000,511.000000,511.000000,511.000000,511.000000,511.000000,511.000000,511.000000
mean,3.584139,11.252446,11.151096,0.068493,0.554757,6.287589,68.616243,3.783876,9.485323,407.440313,18.500000,356.600900,12.879550,22.682192
std,8.564433,23.234838,6.828175,0.252838,0.115310,0.703802,28.099130,2.098631,8.688469,167.903532,2.200348,90.882679,7.797416,9.484262
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082325,0.000000,5.190000,0.000000,0.449000,5.885500,45.050000,2.100350,4.000000,279.500000,17.400000,374.710000,7.065000,17.050000
50%,0.261690,0.000000,9.690000,0.000000,0.538000,6.209000,77.300000,3.152300,5.000000,330.000000,19.100000,391.340000,11.450000,21.200000
75%,3.621175,12.500000,18.100000,0.000000,0.624000,6.629750,94.050000,5.118000,24.000000,666.000000,20.200000,396.210000,17.105000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,23.000000,396.900000,76.000000,67.000000

In [6]:
df['RM'] = df['RM'].fillna(df['RM'].mean())

In [7]:
df.isna().sum().sum()

0

In [8]:
y = df['MEDV'].copy()
X = df.drop('MEDV', axis=1).copy();
print(y)

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
506    12.0
507    32.0
508    54.0
509    67.0
510    24.0
Name: MEDV, Length: 511, dtype: float64

In [9]:
from sklearn.preprocessing import StandardScaler;
from sklearn.model_selection import train_test_split;
from sklearn.ensemble import RandomForestRegressor;

In [10]:
scaler = StandardScaler()

In [11]:
print(X.describe())
X = scaler.fit_transform(X)
# print(X)

             CRIM          ZN       INDUS        CHAS         NOX          RM  \
count  511.000000  511.000000  511.000000  511.000000  511.000000  511.000000
mean     3.584139   11.252446   11.151096    0.068493    0.554757    6.287589
std      8.564433   23.234838    6.828175    0.252838    0.115310    0.700343
min      0.006320    0.000000    0.460000    0.000000    0.385000    3.561000
25%      0.082325    0.000000    5.190000    0.000000    0.449000    5.887500
50%      0.261690    0.000000    9.690000    0.000000    0.538000    6.211000
75%      3.621175   12.500000   18.100000    0.000000    0.624000    6.627000
max     88.976200  100.000000   27.740000    1.000000    0.871000    8.780000

              AGE         DIS         RAD         TAX     PTRATIO           B  \
count  511.000000  511.000000  511.000000  511.000000  511.000000  511.000000
mean    68.616243    3.783876    9.485323  407.440313   18.500000  356.600900
std     28.099130    2.098631    8.688469  167.903532    2.200348   90.882679
min      2.900000    1.129600    1.000000  187.000000   12.600000    0.320000
25%     45.050000    2.100350    4.000000  279.500000   17.400000  374.710000
50%     77.300000    3.152300    5.000000  330.000000   19.100000  391.340000
75%     94.050000    5.118000   24.000000  666.000000   20.200000  396.210000
max    100.000000   12.126500   24.000000  711.000000   23.000000  396.900000

            LSTAT
count  511.000000
mean    12.879550
std      7.797416
min      1.730000
25%      7.065000
50%     11.450000
75%     17.105000
max     76.000000

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.9)

In [13]:
no_bootstrap_model = RandomForestRegressor(n_estimators=100, criterion='mse', bootstrap=False)
no_bootstrap_model.fit(X_train, y_train);

In [14]:
bootstrap_model = RandomForestRegressor(n_estimators=100, criterion='mse', bootstrap=True)
bootstrap_model.fit(X_train, y_train);

In [15]:
print("R squre ", no_bootstrap_model.score(X_test, y_test))
print("R squre ", bootstrap_model.score(X_test, y_test))

R squre  0.10123296224727929
R squre  0.5989374760925772